@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Manrope', sans-serif;

  --fw-semi-bold: 600;
  --fw-extra-bold: 800;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-soft-cyan: hsl(174, 77%, 80%);
  --clr-strong-cyan: hsl(174, 86%, 45%);
  --clr-light-grayish-red: hsl(14, 92%, 95%);
  --clr-light-red: hsl(15, 100%, 70%);
  --clr-light-red-pale: hsl(15, 90%, 95%);
  --clr-pale-blue: hsl(226, 100%, 87%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-very-pale-blue: hsl(230, 100%, 99%);
  --clr-light-grayish-blue: hsl(224, 65%, 95%);
  --clr-light-grayish-blue-2: hsl(223, 50%, 87%);
  --clr-grayish-blue: hsl(225, 20%, 60%);
  --clr-dark-desaturated-blue: hsl(227, 35%, 25%);
  --clr-dark-desaturated-blue-hover: hsl(228, 18%, 28%);
  --clr-black: hsl(0, 0%, 0%);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-dark-desaturated-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-15);
  font-weight: var(--fw-extra-bold);
  line-height: 1.625;
  text-align: center;

  /* Background */
  background: url('./images/bg-pattern.svg') no-repeat;
  background-position: 0% 0%;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-size: var(--fs-20);
}

.copy-text {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-13);
  font-weight: var(--fw-semi-bold);
}

.views-text {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-12);
  text-transform: uppercase;
  letter-spacing: 1.75px;
}

.price-text {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-14);
  font-weight: var(--fw-semi-bold);
}

.price-text #price {
  color: var(--clr-dark-desaturated-blue);
  font-size: var(--fs-32);
  font-weight: var(--fw-extra-bold);
}

.billing-text {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-12);
  font-weight: var(--fw-semi-bold);
}

.features__item {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-12);
  font-weight: var(--fw-semi-bold);
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  background: var(--clr-dark-desaturated-blue);
  border: none;
  border-radius: 2em;
  color: var(--clr-pale-blue);
  cursor: pointer;
  font-size: var(--fs-12);
  padding: 1em 3em;
}

.btn:hover,
.btn:focus {
  background: var(--clr-dark-desaturated-blue-hover);
}

/* ================== */
/* Utility styles */
/* ================== */

.container {
  margin: 0 auto;
  padding: 0 1.25em;
}

/* ================== */
/* SECTIONS */
/* ================== */

.copy {
  /* Backgrouns */
  background: url('./images/pattern-circles.svg') no-repeat;
  background-position: 50% 0%;
  background-size: 145px;

  margin-top: 3em;
  padding: 3.25em 0;
}

.copy-text {
  margin: 0 auto;
  width: 55%;
}

/* Card */
.card {
  background-color: var(--clr-white);
  border-radius: 0.5em;
  box-shadow: 10px 10px 49px -14px var(--clr-grayish-blue);
  margin-top: 0.5em;
  padding: 2em 1em;
}

.upper-area {
  /* Grid */
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.range-container {
  margin: 2em auto 0;
  position: relative;
  width: 90%;
}

.range {
  appearance: none;
  background: linear-gradient(
    to right,
    var(--clr-soft-cyan) 50%,
    var(--clr-light-grayish-blue) 50%
  );
  border-radius: 1em;
  height: 10px;
  width: 100%;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;

  /* Barckground */
  background-image: url('images/icon-slider.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--clr-strong-cyan);

  border-radius: 50%;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.range::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 10px var(--clr-strong-cyan);
}

.price-area {
  margin-top: 2em;
}

.billing-area {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  margin-top: 2em;
  margin-bottom: 2em;
}

.switch {
  background-color: var(--clr-light-grayish-blue);
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  position: relative;
  width: 40px;
}

.switch:hover,
.switch:focus {
  background-color: var(--clr-strong-cyan);
}

.switch input {
  /* Position */
  position: absolute;
  top: 0;
  left: 0;

  appearance: none;
  cursor: pointer;
}

.switch .slider {
  /* Position */
  position: absolute;
  top: 3px;
  left: 3px;

  border-radius: 50%;
  background-color: var(--clr-white);
  width: 16px;
  height: 16px;

  /* Animations */
  transition: all 0.5s;
}

.switch input:checked + .slider {
  transform: translateX(18px);
}

.discount-tag {
  background: var(--clr-light-red-pale);
  border-radius: 1em;
  color: var(--clr-light-red);
  font-size: var(--fs-10);
  margin-left: 0.5em;
  padding: 0.25em 0.5em;
}

.discount-text {
  display: none;
}

.lower-area {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--clr-light-grayish-blue);
  padding-top: 1em;
}

.features {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__list {
  list-style-type: none;
}

.features__item {
  margin-top: 1em;
}

.icon-check {
  margin-right: 1em;
}

.btn {
  margin-top: 3em;
}

.signature-footer {
  margin-top: 1em;
}

.attribution {
  font-weight: var(--fw-semi-bold);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 580px) {
  /* Typography */
  .title {
    font-size: var(--fs-28);
  }
  .copy-text {
    font-size: var(--fs-15);
  }
  .views-text {
    font-size: var(--fs-14);
  }
  .price-text #price {
    font-size: var(--fs-40);
  }
  .price-text {
    font-size: var(--fs-16);
  }

  /* Card */
  .card {
    margin: 0 auto;
    padding: 3em 2.5em 2em;
    width: 540px;
  }

  .upper-area {
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'views price'
      'range range';
  }

  .views {
    /* Grid */
    grid-area: views;

    padding-top: 1.5em;
    text-align: left;
  }
  .price-area {
    /* Grid */
    grid-area: price;

    margin-top: unset;
  }
  .range-container {
    /* Grid */
    grid-area: range;

    width: 100%;
  }

  .price-text {
    position: relative;
  }

  .month {
    /* Position */
    position: absolute;
    top: 20px;
    right: 0;
  }

  #price {
    /* Position */
    position: relative;
    left: -20px;
  }

  .discount-text {
    display: inline-block;
  }

  .lower-area {
    /* Flex */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .features {
    text-align: left;
  }

  .btn {
    margin-top: unset;
  }
}
